/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/layout.scss";


$height:120px;
@include sticky-footer($height);

@mixin rounded($radius:5px){
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius:$radius;	
}

header{
	height:	$height;
	background-color:#000;
}






footer{
	background-color:#000;	
}